version: "3.8"

services:
  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  job-portal-backend:
    build: .
    container_name: job-portal-backend
    ports:
      - "9090:8080"
    depends_on:
      - mongo
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/jobportal
    restart: always

volumes:
  mongo-data:
